body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.jpg'); 
    background-size: cover;
    background-position: center;
}

header, footer {
    background-color: #1eccb7;
    color: rgba(24, 4, 19, 0.984);
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.mensaje {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}


select {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}